.myspaceCard{
    display:flex;
    margin-top: 150px;

}

.news{
    display: flex;
    flex-direction: row;
}

.upcomingEvents{
    display: flex;
    flex-direction: column;
}

.readingList{
    display: flex;
    flex-direction: row;
}