.myspace-card{
    display:flex;

}

.news{
    display: flex;
    flex-direction: row;
}

.upcomingEvents{
    display: flex;
    flex-direction: column;
}

.readingList{
    display: flex;
    flex-direction: row;
}