.navbarContainer{
    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
    margin-left: 6%;
    /*margin-bottom: 40px;*/
    /*margin-left: 40px;*/
}

.header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.navbarList{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbarItem{
    max-height: 150px;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    /*margin-top: 10px;*/
    /*border-radius: 30px;*/
    transition: all 0.3s ease;
    cursor: pointer;
    /*box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;*/
}

.navbarItem:hover {
    transform: translateY(-4px);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.navLink {
    max-height: 150px;
    text-decoration: none;
    color: #333652;
}

.header {
    display: flex;
    justify-content: space-between;
}

.specialCorner {
    display: flex;
    align-items: center; /* Align items to the top of the container */
    /*justify-content: flex-end;*/
    margin-right: 2%;
    /*flex-direction: column;*/

    /*padding: 15px;*/
}

/*.specialCorner p{*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    !*background-color: #E8927C;*!*/
/*}*/

.specialList{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*align-items: flex-end;*/
    /*justify-content: flex-end;*/
    list-style: none;
    gap: 20px;
    cursor: pointer;
    margin: 0;
    padding: 0;

}

.specialList li{
    display: flex;
    justify-content: flex-end;
    color: #333652;
    align-items: flex-end;
    /*background-color: #fe76b9;*/
    /*padding: 15px;*/
    /*border-radius: 30px;*/
    transition: all 0.3s ease;
    /*margin-top: 5%;*/
    font-size: 15px;
    /*box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;*/

}

.specialList li:hover {
    transform: translateY(-2px);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
}