.categoryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.title {
    font-size: 24px;
    position: sticky;
    top: 0;
    color: #333652;
    padding: 10px 0;
    z-index: 1;
    width: calc(100% - 20px); /* Adjusted to account for padding */
    text-align: left;
    margin: 0 0 0 10px;
    flex-shrink: 0;
}

.itemsList {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    max-height: 380px;
    overflow-y: scroll;
    padding: 0;
    gap: 0;
    margin: 0;
}

.itemsList li{
    margin: 0;
    list-style: none;
    width: 100%;
}

.itemsList::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.item {
    width: 100%;
    box-sizing: border-box;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    /*width: 100%; !* Account for padding *!*/
    /*box-sizing: border-box; !* Include padding in width calculation *!*/
    /*transition: background-color 0.3s ease;*/
    /*overflow: hidden;*/

}

.item > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf6f3;
    color: #333652;
    margin: 0;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

.itemName {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-shrink: 0;
}

.trash, .check {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #333652;
    margin-left: 8px;
    transition: all 0.3s ease;
}

/* Define the keyframes for the jiggle animation */

@keyframes jiggle {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.3) rotate(5deg); }
    50% { transform: scale(1.2) rotate(-5deg); }
    75% { transform: scale(1.3) rotate(3deg); }
    100% { transform: scale(1.2) rotate(0deg); }
}

.trash:hover {
    animation: jiggle 1s ease forwards;
}

@keyframes boop {
    0% { transform: scale(1); color: #333652; }
    50% { transform: scale(1.5); color: #00a653; }
    100% { transform: scale(1.5); color: #00a653; }
}

.check:hover {
    animation: boop 1s ease forwards;
}





